.ftpquota
.DS_Store

application/views_c
application/cache/*
!application/cache/index.html

application/config/database.php
/.htaccess
application/files/*
application/logs/*
!application/logs/index.html

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
